.features-hero-image {
  background-image: url('/features/mobile/hero.jpg');
}

.features-beta {
  background-image: url('/shared/mobile/bg-beta.jpg');
}

@media screen and (min-width: 768px) {
  .features-hero-image {
    background-image: url('/features/tablet/hero.jpg');
  }

  .features-beta {
    background-image: url('/shared/tablet/bg-beta.jpg');
  }
}

@media screen and (min-width: 1024px) {
  .features-hero-image {
    background-image: url('/features/desktop/hero.jpg');
  }

  .features-beta {
    background-image: url('/shared/desktop/bg-beta.jpg');
  }
}
