.footer {
    background-color: black;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 25px;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footerlogo img {
    filter: invert(1);
}

.socialicons {
    margin-top: 25px;
    filter: brightness(0) invert(1);
    justify-content: center;
    align-items: center;
    margin-right: 6%;
    width: 100%;
}

.socialicons img {
    margin-left: 10px;
    margin-right: 10px;
}

.footerlinks ul {
    list-style: none;
    margin: 5% 0% 5% 0%;
}

.footerlinks li {
    margin-top: 10px;
}  

.footerlink h3 {
    margin-right: 40%;
}

.footerinvite {
    margin: 10% 0 0 0%;
}

.arrowimageinvert img {
    float: right;
    padding-left: 20px;
    padding-top: 3px;
    margin-right: 20%;
}

.copyright {
    color: lightgray;
}

@media screen and (min-width: 768px) {
    
    .footer {
        background-color: black;
        color: white;
        text-align: left;
        align-items: left;
        justify-content: left;
    }
    .footerlogo {
        float: left;
        width: 40vw;
        align-items: center;
    };

    .socialicons {
        width: 40vw;
        float: right;
    }

    .footerlinks ul {
        display: flex;
        flex-direction: row;
    }

    .footerlinks li {
        padding: 0 25px 0 25px;
    }

}


