.image-wrapper {
  position: relative;

  min-height: 31.25rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  padding: var(--space-lg) var(--space-md);

  color: var(--color-white);

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  overflow: hidden;

  transition: transform var(--transition-default),
    opacity var(--transition-default);
}

.image-wrapper:hover {
  transform: translateY(calc(var(--space-xs) * -1));
}

.image-wrapper::after {
  content: '';

  position: absolute;
  inset: 0;

  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1));

  z-index: 0;
}

.image-info,
.image-body {
  position: relative;
  z-index: 1;
}

.image-info {
  display: grid;
  gap: var(--space-xs);

  margin-bottom: var(--space-md);
}

.image-title {
  margin: 0;
  font-weight: 700;
}

.image-artist {
  margin: 0;

  color: rgba(255, 255, 255, 0.85);
}

.image-body {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-top: var(--space-sm);

  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.image-story {
  margin: 0;

  font-weight: 700;

  letter-spacing: 0.125rem;
  text-transform: uppercase;
}

.image-arrow {
  width: 1.5rem;
  height: 1.5rem;

  filter: invert(1);
}
